<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.css" integrity="sha512-NbcJD2XMKvUk/QtduxC5P5KgNBhWbQPF3+JXhzZjoM8E9teoqJZb21bPu1dnAYLeJatNdgitYbBVz7byHKMH9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/toc-style.css"}}" />
    {{ghost_head}}
</head>
<body {{body_class}}>

<header class="gh-head">
    <a href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="site-logo" src="{{img_url @site.logo absolute="true"}}" height="50" alt="{{@site.title}}" />
    {{else}}
        <h2>{{@site.title}}</h2>
    {{/if}}
    </a>
    {{navigation}}
</header>

<main>
    {{{body}}}
</main>

<footer class="page-footer">
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.js" integrity="sha512-g3ESN5HI4E4N2ZsgXw6mcLgD6U8qs1vneuEhN8xq3fQcgiBz7MD1jIMBjf404FPu8NrEaJNUwwxholBy4NiIZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.gh-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.gh-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3, h4',
        });
    </script>
    {{ghost_foot}}
</body>
</html>
